			<div id="gallery">

					<div class="gradient toLeft"></div>

					<div class="thumb">
						<img src="/theme/images/annonceurs/hard_01.jpg" alt="">
					</div><!-- /.thumb -->

					<div class="texts">
						<p class="pseudo">JadeyV</p>
						<p class="age">28 ans</p>
					</div><!-- /.texts -->

					<div class="testimony ">
						<p>Quoi de plus excitant que de faire des rencontres avec des inconnus? Cette excitation et sensation d...</p>
						<span class="arrow"></span>
					</div><!-- /.texts -->

			</div>	