{% extends "base.html" %}
{% block content %}

		<!-- Banner -->
			<section id="banner" style='padding: 8em 0 8em 0;'>
			</section>

		<!-- Main -->
		<section id="main" class="container">
			<section class="box special">
				<header class="major">
					<h2>{{ article.title }}</h2>
					<p>{{ article.summary }}</p>
				</header>
			</section>	
			<section>
				<div class="box">
					<span class="image featured"><img src="/theme/images/{{article.imagetitle}}" alt="" /></span>
					{{article.content}}
				</div>
			</section>
		
		<section>
				<div class="box">

				<div class="12u">
				<div class="row">

							<div class="4u 8u(mobilep)">
								
								<div>
								<h3>En direct en ce moment</h3><div class="textwidget"><a href="http://chaturbate.com/affiliates/in/" rel="nofollow" target="_blank"><img src="/theme/images/gif/live-cam-porno.gif" alt="Webcam porno gratuites en direct !" border="0"></a></div>
								</div>

							</div>

							<div class="4u 8u(mobilep)">
								<div>
								<h3>Plans cul</h3>
								<p>
								{% include 'annonceurs/annon1.html' %}
								</p>
								</div>
							</div>


							<div class="4u 8u(mobilep)">
								<h3>Webcam</h3>
								
								<a href="" target="_blank" alt="plan cul hard gratuit" rel="nofollow"><img src="/theme/images/gif/20070330150706_160x600_5.gif" alt="plan cul hard gratuit" border="0"></a>

							</div>
						
				</div>					
				</div>
				</div>
			</section>

		</section>

			
{% endblock %}
