{% extends "base.html" %}
{% block title %}
	<title>{{article.title|striptags}} | Papiers de cul</title>
{% endblock %}
{% block content %}

		<!-- Banner -->
			<section id="banner" style='padding: 8em 0 8em 0;'>
			</section>

		<!-- Main -->
		<section id="main" class="container">
			<section class="box special">
				<header class="major">
					<h2>{{ article.title }}</h2>
					{{ article.date|strftime('%d %B %Y') }}
					{{ article.summary |truncate(333, True, end='...')}}
				</header>
			</section>	
			<section>
				<div class="box">
					<span class="image featured"><img src="/theme/images/{{article.imagetitle}}" alt="" /></span>
					{{article.content}}
					
					<a href="https://docs.google.com/forms/d/e/1FAIpQLSeb_c_LJpAMRr8uSBmJWH9bUWWbDtxrngG-Hj5j7ywfXin5aA/viewform" class="button alt">Laisser un commentaire</a>


					<hr/>
						<p>	
						{% for tag in article.tags %}
								<a href=/tag/{{tag}}.html>#{{tag}}</a>
						{% endfor %}			
						</p>	

				</div>
			</section>
		</section>

{% endblock %}



{% block autresarticles %}
		<br/>
		{% include 'derniersarticles.html' %}
{% endblock %}