{% extends "base.html" %}
{% block content %}

		<!-- Banner -->
			<section id="banner" style='padding: 10em 0 12em 0;'>
				<h2>Papiers de cul</h2>
				<p>Histoires que l'on nous raconte <br/>pour apprendre ensemble.
					<div style='clear:both'>	
						<img src=/theme/images/wilson.png width=64 />
						<img src=/theme/images/cassandra.png width=64 />
					</div>
				</p>
			</section>

		<!-- Main -->

			<section id="main" class="container">
		
				<section class="box special">
					<header class="major">
			
		{% set article=articles_page.object_list[0] %}

						<h3>Notre dernière histoire :</h3>
						<h2>{{article.title}}</h2>
						{{ article.date|strftime('%d %B %Y') }}
						{{article.summary|truncate(333, True, end='...')}}
						
						<br clear=all />
						<div style='clear:both'>
						{% for coach in article.coach %}
							{% if coach != '***' %}		
							
								<img src=theme/images/{{coach}} />

							{% endif %}
						{% endfor %}
						</div>
						<br/>
						<ul class="actions">
								<li><a href="{{article.url}}" class="button alt">Lire l'histoire</a></li>
						</ul>

					</header>
					<span class="image featured"><img src="theme/images/{{article.imagetitle}}" alt="" /></span>
				</section>
				<section class="box special features">
					<div class="features-row">
						<section>
							<span class="icon major fa-send accent2"></span>
							<h3>Vos histoires !</h3>
							<p><a href="https://docs.google.com/forms/d/e/1FAIpQLScJOiIlJJ_rIs6zgFWb-xC2k_42yL8hDYAMkDGdsFGW74IvAw/viewform">Envoyez vos histoires à nos coachs !</a></p>
						</section>
						<section>
							<span class="icon major fa-plug accent3"></span>
							<h3>Les blogs</h3>
							<p><a href="/pages/blogs.html">Ceux des voisins, des copains, ceux qui nous plaisent</a></p>
						</section>
					</div>
					<div class="features-row">
						<section>
							<span class="icon major fa-camera-retro accent4"></span>
							<h3>La photo du mois</h3>
							<p>La photo qui a retenue notre attention ce mois ci est de <strong>Lars Sero</strong>, et elle est <a href=http://larssero.tumblr.com/image/145372711175>ici</a></p>
						</section>
						<section>
							<span class="icon major fa-venus-mars accent5"></span>
							<h3>Trouver l'âme soeur !</h3>
							<p>Notre conseil rencontre du mois : ...il reste à définir ! On creuse la question.</p>
						</section>
					</div>
				</section>

				<div class="row">
									
				{% for article in articles_page.object_list %}

					{% if loop.index != 1 %}
						
							<div class="6u">

								<section class="box special">
									<span class="image featured"><img src="theme/images/{{article.imagetitle}}" alt="" /></span>
									<h3>{{article.title}}</h3>
									{{ article.date|strftime('%d %B %Y') }}
									{{article.summary|truncate(144, True, end='...')}}
									<br/>
									
										{% for coach in article.coach %}
											{% if coach != '***' %}		
											<img src=theme/images/{{coach}} width=64 />
											{% endif %}
										{% endfor %}

									</p>
									<ul class="actions">
										<li><a href="{{article.url}}" class="button alt">Lire l'histoire</a></li>
									</ul>
								</section>
								
							</div>
					




					{% endif %}

				{% endfor %}
				</div>
				
					
			</section>
			


{% endblock %}
