{% extends "base.html" %}
{% block title %}
	<title>{{page.title|striptags}} | Papiers de cul</title>
{% endblock %}
{% block content %}

		<!-- Banner -->
			<section id="banner" style='padding: 8em 0 8em 0;'>
			</section>

		<!-- Main -->
			<section id="main" class="container">
			<section class="box special">
				<header class="major">
					<h2>{{ page.title }}</h2>
					<p>{{ page.summary }}</p>
				</header>
			</section>	
			<section>
				<div class="box">
					<span class="image featured"><img src="/theme/images/{{page.imagetitle}}" alt="" /></span>
					{{page.content}}
					
				
				</div>
			</section>
	</section>
			
{% endblock %}

{% block autresarticles %}
		<br/>
		{% include 'derniersarticles.html' %}
{% endblock %}
